{
  "parser": "@typescript-eslint/parser",
  "plugins": ["typescript", "@typescript-eslint"],
  "parserOptions": {
    "jsx": true,
    "useJSXTextNode": true,
    "allowTypedFunctionExpressions": true
  },
  "extends": [
    "airbnb",
    "typescript",
    "typescript/react",
    "typescript/prettier",
    "prettier/@typescript-eslint"
  ],
  "rules": {
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".jsx", ".tsx"] }
    ],
    "no-undef": "off",
    "@typescript-eslint/explicit-function-return-type": [
      1,
      {
        "allowTypedFunctionExpressions": true,
        "allowExpressions": true
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "printWidth": 100,
        "trailingComma": "es5"
      }
    ],
    "react/prop-types": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "import/prefer-default-export": "off",
    "valid-jsdoc": "off",
    "no-console": "warn",
    "import/no-extraneous-dependencies": 0
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
